<%= form_for @pin do |f| %>
  <div class="form-group">
    <label for="pin_title">Title</label>
    <%= f.text_field :title, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <label for="pin_category_id">Category</label>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <label for="pin_url">URL</label>
    <%= f.text_field :url, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <label for="pin_slug">Slug</label>
    <%= f.text_field :slug, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <label for="pin_text">Text</label>
    <%= f.text_area :text, { class: 'form-control' } %>
  </div>

  <%= f.submit nil, { class: 'btn btn-default'} %>

<% end %>