<div class="header">
  <h1>Your Pins</h1>
</div>
<hr/>
<div class="pins">
  <% @pins.each_slice(3) do |row| %>
    <div class="row">

      <% row.each do |pin| %>      
        
        <div class="pin-container col-md-4">
          <div class="pin">
            <div class="pin-header row">
              
              <div class="logo-thumbnail col-xs-3">
                <% if pin.image.exists? %>
                  <img src="<%= pin.image.url(:thumb) %>">
                <% elsif "#{pin.category.name}" == "rails" %>
                  <%= image_tag('rails-logo-thumbnail.png') %>
                <% elsif "#{pin.category.name}" == "ruby" %>
                  <%= image_tag('ruby-logo-thumbnail.png') %>
                <% end %>
              </div>

              <div class="pin-title col-xs-9">
                <h4>
                  <%= link_to "#{pin.title}", pin_name_show_path(slug: pin.slug) %>
                </h4>
                <%= link_to "#{pin.url.truncate(30)}", pin.url, html_options = {target: "_blank", class: "url"}%>
              </div>
              <hr/>
              <p class="text"><%= "#{pin.text}" %></p>
            </div>
            <%= link_to repin_path(pin), class: "btn btn-default pull-right", method: "post" do %>
                  <i class="fa fa-thumb-tack"></i>
                  Repin!
                <% end %>
          </div>
        </div>
      
      <% end %>
    
    </div>
  <% end %>
</div>

<hr/>