<%= form_for(@follower) do |f| %>
  <% if @follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% @follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, user_to_follow.first_name + " " + user_to_follow.last_name %><br>
    <%= f.hidden_field :user_id, :value => user_to_follow.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :follower_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <button type="submit">
      Follow <i class="fa fa-chevron-up"></i>
    </button>
  </div>
<% end %>
