<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="pull-right">
      <% if !current_user.nil? %>
        <h3>
          <%= "Hi, #{current_user.first_name} #{current_user.last_name}!" %>
          <%= link_to "Logout", logout_path(current_user), method: :delete %>
        </h3>
      <% else %>
        <h3>
          Psst, you should <%= link_to('login', login_path, html_options = {class: 'url'}) %>!
        </h3>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>